* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083b4c;
    font-family: Helvetica, sans-serif;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 3rem;
}

#container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.box {
    width: 75px;
    height: 75px;
    background-color: #1389b2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}